# arch/arm/mach-s5p6442/Kconfig
#
# Copyright (c) 2010 Samsung Electronics Co., Ltd.
#		http://www.samsung.com/
#
# Licensed under GPLv2

# Configuration options for the S5P6442

if ARCH_S5P6442

config CPU_S5P6442
	bool
	select S3C_PL330_DMA
	select S5P_PM
	select S5P_HRT
	help
	  Enable S5P6442 CPU support

config MACH_SMDK6442
	bool "SMDK6442"
	select CPU_S5P6442
	select S3C_DEV_WDT
	help
	  Machine support for Samsung SMDK6442
	  
config MACH_APOLLO
	bool "APOLLO"
	select CPU_S5P6442
	select S3C_DEV_FB
#	select S3C_DEV_I2C1
	select S3C_DEV_RTC
	select S3C_DEV_WDT
	select S3C_DEV_HSMMC
	select S3C_DEV_HSMMC1
	select S3C_DEV_HSMMC2
	select S5P_DEV_ONENAND
	select S5P_DEV_FIMC0
	select S5P_DEV_FIMC1
	select S5P_DEV_FIMC2
	select S3C_DEV_FB
	select S5P_DEV_JPEG
	select SAMSUNG_DEV_ADC
	select SAMSUNG_DEV_BACKLIGHT
	select SAMSUNG_DEV_PWM
	select SAMSUNG_DEV_TS
#	select SAMSUNG_DEV_KEYPAD
	select NEED_MACH_MEMORY_H
	help
	  Machine support for the Samsung Galaxy Apollo

if MACH_APOLLO
menu "APOLLO options"

	config APOLLO_MTD_SYSTEM_SZ
		int "System partition size (256KB blocks)"
		depends on MTD
		default "880"

	config APOLLO_MTD_DATA_SZ
		int "Data partition size (256KB blocks)"
		depends on MTD
		default "810"

	config APOLLO_MTD_CACHE_SZ
		int "Cache partition size (256KB blocks)"
		depends on MTD
		default "152"

endmenu
endif

endif
